<div id="page-content">
	<div class="block">
		<div class="block-title">
			<h2><strong>Users</strong>Index</h2>
		</div>
		<div class="pull-right">
			<%= link_to 'Add Data', new_backend_user_path, class: 'btn btn-default', data: {toogle: 'tooltip', title: 'Add'} %>
		</div>
		<div class="table-responsive">
			<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center">ID</th>
						<th class="text-center"><i class="gi gi-user"></i></th>
						<th>Username</th>
						<th>Email</th>
						<th>Fullname</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
				<% @users.each do |user| %>
					<tr>
						<td class="text-center">1</td>
						<td class="text-center"><i class="gi gi-user"></i></td>
						<td><a href="javascript:void(0)"><%= user.username %></a></td>
						<td><%= user.email %></td>
						<td><span class="label label-primary">Personal</span></td>
						<td class="text-center">
							<div class="btn-group btn-group-xs">
								<%= link_to edit_backend_user_path(user), class: 'btn btn-default', data: {toogle: 'tooltip', title: 'Edit'} do %>
									<i class="fa fa-pencil"></i>
								<% end %>
								<%= link_to backend_user_path(user), method: 'delete',class: 'btn btn-danger', data: {toogle: 'tooltip', title: 'Delete'} do %>
									<i class="fa fa-times"></i>
								<% end %>
							</div>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>