<!DOCTYPE html>
<html>
<head>
  <title>Ototown</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="page">
	<%= render partial: 'shared/front/header' %>
	<div id="content">
		<div class="content">
			<div class="breadcrumbs margin-top80">
				<a href="http://autodealer.winterjuice.com/">Home</a>
				<img src="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/assets/images/marker_2.gif">
				Catalog
			</div>
			<div class="main_wrapper ">
				<div class="layout_left_content">
					<div class="cars_categories">
						<input type="hidden" id="cars_categories" name="cars_categories" value="all">
						<a href="#" class="active" data-id="all"><span>All cars</span></a>
						<a href="#" class="" data-id="new"><span>new cars</span></a>
						<a href="#" class="" data-id="used"><span>used cars</span></a>
					</div>
					<h1><strong>Sport</strong> Motor</h1>
					<%= render partial: 'shared/front/side_bar_dealer' %>
					<%= yield %>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<%= render partial: 'shared/front/footer' %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
