<!DOCTYPE html>
<html>
<head>
  <title>Ototown</title>
  <%= stylesheet_link_tag    "application_backend", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page-container" class="sidebar-full">
    <%= render 'backend/shared/menu_bar' %>
    <div id="main-container">
      <%= render 'backend/shared/header_nav' %>
      <%= bootstrap_flash %>
    	<%= yield %>
    </div>
  </div>
  <%= render 'backend/shared/modal_content' %>
	<%= javascript_include_tag "application_backend", "data-turbolinks-track" => true %>
</body>
</html>
