<div id="sidebar">
	<div class="sidebar-scroll">
		<div class="sidebar-content">
			<a href="./index.php.html" class="sidebar-brand">
				<strong>Administrator</strong>
			</a>
			<div class="sidebar-section sidebar-user clearfix">
				<div class="sidebar-user-avatar">
					<a href="./page_ready_user_profile.php.html">
						<img src="./img/placeholders/avatars/avatar2.jpg" alt="avatar" />
					</a>
				</div>
				<div class="sidebar-user-name"><%= current_backend_admin.username %></div>
				<div class="sidebar-user-links">
					<a href="./page_ready_user_profile.php.html" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="gi gi-user"></i></a>
					<a href="#modal-user-settings" data-toggle="modal" class="enable-tooltip" data-placement="bottom" title="Settings"><i class="gi gi-cogwheel"></i></a>
					<%= link_to destroy_backend_admin_session_path, method: 'delete',data: {toogle: 'tooltip', placement: 'bottom', title: 'Logout'} do %>
					<i class="gi gi-exit"></i>
					<% end %>
				</div>
			</div>
			<ul class="sidebar-nav">
				<li>
					<%= link_to backend_path do %>
						<i class="gi gi-stopwatch sidebar-nav-icon"></i>Dashboard
					<% end %>
				</li>
				<li class="sidebar-header">
					<span class="sidebar-header-title">Widget Kit</span>
				</li>
				<li>
					<%= link_to '#!' do %>
						<i class="gi gi-charts sidebar-nav-icon"></i>Statistics
					<% end %>
				</li>
				<li>
					<%= link_to '#!' do %>
						<i class="gi gi-share_alt sidebar-nav-icon"></i>Social
					<% end %>
				</li>
				<li class="sidebar-header">
					<span class="sidebar-header-title">Data Content</span>
				</li>
				<li>
					<%= link_to backend_dealers_path, class: '' do %>
						<i class="gi gi-certificate sidebar-nav-icon"></i>Dealers</a>
					<% end %>
				</li>
				<li>
					<a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-certificate sidebar-nav-icon"></i>Users</a>
					<ul>
						<li>
							<%= link_to 'Create New', new_backend_user_path  %>
						</li>
						<li>
							<%= link_to 'List Data', backend_users_path %>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-certificate sidebar-nav-icon"></i>Cars</a>
					<ul>
						<li>
							<%= link_to 'Create New', new_backend_car_path  %>
						</li>
						<li>
							<%= link_to 'List Data', backend_cars_path  %>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-certificate sidebar-nav-icon"></i>Spare Parts</a>
					<ul>
						<li>
							<%= link_to 'Create New', new_backend_sparepart_path  %>
						</li>
						<li>
							<%= link_to 'List Data', backend_spareparts_path  %>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-certificate sidebar-nav-icon"></i>News</a>
					<ul>
						<li>
							<%= link_to 'Create New', new_backend_news_path %>
						</li>
						<li>
							<%= link_to 'List Data', backend_news_index_path %>
						</li>
						<li>
							<%= link_to 'Category', backend_category_news_index_path %>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-certificate sidebar-nav-icon"></i>Edit Contents</a>
					<ul>
						<li>
							<%= link_to 'Create New', '#!'  %>
						</li>
						<li>
							<%= link_to 'List Data', backend_page_contents_path %>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>