<div class="profile_content">
	<h1 class="no_border"><strong>My</strong> cars</h1>
	<% if params[:q] %>
		<div class="search_cars">
			<a href="http://autodealer.winterjuice.com/profile/vehicles/add/" class="btn2" style="float:right;">Add auto</a>
			<div class="found_count">
				<span>Found:</span> 0 cars
				<span style="padding-left:30px;">Publish Limit:</span> 10 cars
			</div>
		</div>
	<% end %>
	<div class="actions_cars">
		<a href="#" class="btn1" id="apply_actions">apply</a>
		<select class="text" id="select_action_car">
			<option value="0">Select action</option>
			<option value="car_republish">Republish</option>
			<option value="car_archive">Remove the archive</option>
		</select>
		<div class="label_select">Apply to the marked:</div>
		<div class="mark_all">
			<label><input type="checkbox" id="select_all_cars">Select all cars on the page</label>
		</div>
	</div>
	<div class="cars_list">
		<% @products.each_with_index do |product,i| %>
		  <div class="car" id="<%= "product-#{i}" %> ">
				<div class="checkbox padd-left-cr">
					<input type="checkbox" class="select_car" name="product_ids[]" value="<%= product.id %>">
				</div>
				<div class="img"><%= image_tag product.images.first.image.url(:medium) if product.images.present? %></div>
				<div class="general_info">
					<h2><%= product.name %></h2>
					<div class="date"><%= product.created_at %></div>
					<div class="price"><%= number_to_currency product.price, unit: 'Rp' %></div>
				</div>
				<div class="location">
					Fabrication: <%= product.year %><br>
					Location: <%= product.location || '-' %>
				</div>
				<div class="statistics_info">
					<div class="item-views">0 views</div>
					<div class="item-info"><%= product.condition %></div>
				</div>
				<div class="count_photo"><%= product.images.size %></div>
				<div class="actions">
					<%= link_to (product.status ? 'To Draft' : 'Republish'), change_status_path(product), method: 'put' %>
					<a href="#" class="markered">Edit</a>
					<a href="#" class="markered">View on site</a>
					<%= link_to 'Remove', product_path(product), method: 'delete', class: 'markered last car_archive', data:{confirm: 'Are You Sure For Delete This Product?'} %>
				</div>
			</div>
		<% end %>
	</div>

	<div class="bottom_catalog_box">
		<div class="clear"></div>
	</div>
</div>
<div class="clear mb1"></div>