<div class="profile_content">
	<h1><strong>Profile</strong></h1>
	<div class="settings_photo" id="upload-photo-container" style="position: relative;">
		<div class="photo">
			<%= image_tag @user.profile.avatar.url(:medium) %>
			<div class="loader"></div>
		</div>
		<div class="upload-photo">
			<div class="username"><%= @user.username %></div>
			<a href="#" class="btn1" id="upload-photo" style="position: relative; z-index: 1;">upload a photo</a>
		</div>
	</div>
	<%= form_for @user, url: user_update_path, method: 'put' do |f| %>
		<div class="settings_form">
			<%= f.fields_for(:profile) do |profile| %>
				<div class="col1">
					<%= profile.label :full_name, '', class: 'text' %>
					<%= profile.text_field :full_name, class: 'text' %>
				</div>
				<div class="col2">
					<%= f.label :email, '', class: 'text' %>
					<%= f.email_field :email, class: 'text' %>
				</div>
				<div class="col1">
					<%= profile.label :birthday, '', class: 'text' %>
					<%= profile.text_field :birthday, class: 'text datepicker' %>
				</div>
				<div class="col2">
					<%= profile.label :city, '', class: 'text' %>
					<%= profile.text_field :city, class: 'text' %>
				</div>
				<div class="col1">
					<%= profile.label :codepos, '', class: 'text' %>
					<%= profile.text_field :codepos, class: 'text' %>
				</div>
				<div class="col2">
					<%= profile.label :phone, '', class: 'text' %>
					<%= profile.text_field :phone, class: 'text' %>
				</div>
				<div class="col1 last">
					<%= profile.label :gender, '', class: 'text' %>
					<%= profile.select :gender, [['Pria', 'Pria'], ['Wanita', 'Wanita']],{:prompt => "- Select Gender -"}, {class: 'text'} %>
				</div>
				<div class="col2 last">
					<%= profile.label :address, '', class: 'text' %>
					<%= profile.text_area :address, class: 'text' %>
				</div>
				<div class="clear"></div>
			<% end %>
		</div>
		<%= f.submit :save, class: 'btn1 submit-save' %>
		<%= link_to 'CHANGE PASSWORD', edit_user_password_path, class: 'btn2 submit-change-password' %>
	<% end %>
</div>
<div class="clear mb1"></div>