<%= render partial: 'shared/front/login' %>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand-ava">
        <% if current_user %>
          <div class="avatar-small-one">
            <%= image_tag "#{current_user.profile.avatar}" %>
          </div>
          <span class="name-ava">Hi! <%= current_user.email %></span>
        <% end %>
      </span>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Dealers',dealers_path %> 
        </li>
        <li>
          <%= link_to 'Used Cars',cars_path %> 
        </li>
        <li>
          <%= link_to 'New Cars',cars_path %> 
        </li>
        <li>
          <%= link_to 'Classic Cars',cars_path %> 
        </li>
        <li>
          <%= link_to 'Spare Parts',cars_path %> 
        </li>
        <li>
          <%= link_to 'News & Trik',news_path %> 
        </li>
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-cog"></span>
             My Account
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="avatar-small-one avatar-small">
                  <%= image_tag "#{current_user.profile.avatar}" %>
                </div>
              </li>
              <li>
                <%= link_to "Setting Account", user_profile_path %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to "Profile", user_profile_path %>
              </li>
              <li><a href="#">My Reclame</a></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div id="header">
  <div class="top_info">
    <div class="logo">
      <%= link_to root_path do %>
        Oto<span>Town.com</span>
      <% end %>
    </div>
    <div class="header_contacts">
    </div>
    <div class="accs">
      <div class="btn-group">
        <% if current_user %>
          <%= link_to form_car_path do %>
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-new-window"></span> Add Auto
            </button>
          <% end %>
        <% elsif %>
          <a href="#signup" data-toggle="modal" data-target=".bs-modal-sm">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-plus-sign"></span> SignUp
            </button>
          </a>
        <% end %>
        <%= link_to form_car_path do %>
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-screenshot"></span> Compare Cars <span class="compare">2</span>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>