<div class="sidebar">
	<div class="widget widget-nav-profile">
		<h2><strong>Account</strong> menu</h2>
		<ul>
			<li class="settings <%= 'active' if action_name == 'user_home' %>">
				<%= link_to 'Dashboard', user_home_path %>
			</li>
			<li class="vehicles <%= 'active' if action_name == 'index' %>">
				<%= link_to 'My Product', products_path %>
			</li>
			<li class=" vehicles_archive <%= 'active' if action_name == 'archive' %>">
				<%= link_to 'My Archive Product', archive_products_path %>
			</li>
		</ul>
	</div>				
	<div id="dialog-request-dealer" title="I want to be a dealer" style="display:none;">
		<div style="">
			<div class="row">
				<label>Comment</label>
				<textarea name="comment" id="comment" class="text want_be_dealer_comment" style="margin-bottom:0;"></textarea>
			</div>
		</div>
	</div>
	<div class="widget widget-for-dealer">
		<a href="#" class="btn2 dialog_request_dealer" data-toggle="modal" data-target="#dealer-form">I want to be a dealer</a>
	</div>
</div>